.member__list {
  @apply mt-4;
  display: flex;
  align-items: center;
  line-height: 1;
}

.member__item {
  position: relative;
  transform-origin: bottom;
  transition: all 300ms linear;
}

.member__item:not(:first-child) {
  @apply -ml-2;
}

.member__item img {
  @apply rounded-full;
}
